body {
    background-color: darkorange;
    border-style: double;
    border-color: midnightblue;
}
h1 {color:limegreen;
    background-color: black;
    font-style: italic;
    font-size: large;
    text-align:center;
    text-shadow: purple;
    text-size-adjust:50px;
}
p {
    font-family: monospace;
    font: size 28px;
}
.important {
    color:chartreuse;
}